SNOWFLAKE_USER=your_username_here
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_ACCOUNT=your_organization-your_account
SNOWFLAKE_WAREHOUSE=MYWAREHOUSE
SNOWFLAKE_DATABASE=your_db_name
SNOWFLAKE_SCHEMA=your_schema_name